<h1>Edycja usługi</h1>

<% form_for(@service) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nazwa %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Aktualizuj usluge' %>
  </p>
<% end %>

<%= link_to 'Show', @service %> |
<%= link_to 'Back', services_path %>