<h1>Editing atomic_service</h1>

<% form_for(@atomic_service) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :service_id %><br />
    <%= f.text_field :service_id %>
  </p>
  <p>
    <%= f.label :complex_service_id %><br />
    <%= f.text_field :complex_service_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @atomic_service %> |
<%= link_to 'Back', atomic_services_path %>