<% title "Nowy agent" %>
<h1>Nowy agent</h1>

<% form_for(@agent) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Nazwa %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :belief %><br />
    <%= f.text_field :belief %>
  </p>
  <p>
    <%= f.label :disbelief %><br />
    <%= f.text_field :disbelief %>
  </p>
  <p>
    <%= f.label :uncertainty %><br />
    <%= f.text_field :uncertainty %>
  </p>
  <p>
    <%= f.submit 'Stwórz agenta' %>
  </p>
<% end %>