<h1>New complex_service</h1>

<% form_for(@complex_service) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :belief %><br />
    <%= f.text_field :belief %>
  </p>
  <p>
    <%= f.label :disbelief %><br />
    <%= f.text_field :disbelief %>
  </p>
  <p>
    <%= f.label :uncertainty %><br />
    <%= f.text_field :uncertainty %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', complex_services_path %>